/* MultiSelectStyles.css */
.multiselect-container .highlight,
.multiselect-container .option:hover {
    background-color: #059061 !important;
}

/* Additional styles for the Multiselect component */
.multiselect-container {
    max-width: 400px;
    color: white;
    border: #059061;
}

 .searchWrapper {
    border: 2px solid #059061;
    padding: 10px 10px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.searchWrapper .chip {
    background: #059061;
    padding: 1px 3px;
    font-size: 12px;
}

.optionContainer {
    background: black;
}
.optionContainer .option {
    padding: 2px 5px;
}